@media all {
	body {
		padding: 5px;
	}
	p {
		margin: 0;
	}
	div {
		padding: 5px 5px 8px 15px;
	}
	div.sos {
		page-break-after: right;
		clear: both;
		margin: 10%;
	}
	div.sos-info {
		
	}
	.pagebreak {
		
	}
	div.sos-gutachten {
		background-color: #ffddff;
		border: 2px solid blue;
		border-radius: 7px;
		margin-bottom: 3px;
	}
	.sos-grundschule {
		font-weight: bold;
		text-align: center;
	}
	.sos-name {
		margin-left: -10%;
		margin-right: -10%;
		font-weight: bold;
		font-size: 20pt;
		font-family: sans-serif;
		background-color: navajowhite;
		text-align: center;
		border: 2px solid blue;
		border-radius: 7px;
	}
	.epk {
		font-weight: bold;
		background: lightblue;
		border-radius: 7px;
		border: 1px solid blue;
		border-radius: 7px;
		clear: both;
		page-break-inside: avoid;
	}
	.table-row {
		width: 100%;
	}
	.bemerkungen {
		background: white;
		border-right: solid;
		width: 70%;
		margin-bottom: 4px;
	}
	.bem-list {
		padding-left: 6px;
		margin: 3px;
		page-break-inside: avoid;
	}
	.konferenz {
		background: #ddd;
		margin-bottom: 4px;
		padding: 7px;
		page-break-inside: avoid;
	}
	.noten {
		background: #ddffff;
		border-radius: 7px;
		margin: 5px 0px;
		page-break-inside: avoid;
	}
	.note-liste {
		display: inline;
		page-break-inside: avoid;
	}
	.einzel-note {
		display: inline;
		margin: 8px;
		font-weight: bold;
	}
	.eins {
		color: green;
	}
	.defizit {
		color: red;
	}
}